@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide test information.</p>

<form>
    <label>
        Number 1
        <input name="Number1" id="num1"/>
    </label>
    <br/>
    <label>
        Number 2
        <input name="Number2" id="num2"/>
    </label>
    <br/>
    <br/>
    <input type="submit" value="Submit" id="submit"/>
    <br/>
    <br/>
    <label>
        Answer<br/>
        <input name="Answer" id="ans"/>
    </label>

  

</form>



@section scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            //Add jquery code here



      

            $("#submit").click(function () {
                var val1 = parseInt($("#num1").val());
                var val2 = parseInt($("#num2").val());

                $("#ans").val(val1 + val2);
                return false;
            });



        });

    </script>
}